.idea/**/workspace.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
out/

### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea/
.gradle/
build/docker/Dockerfile
build/tmp/
build/classes/
build/generated/
/rebridge-backend.iml
build/generated-test-sources/
build/reports/
build/resources/
build/stubs/
build/test-results/
target/embeddedCassandra/cu-cassandra.yaml
target/embeddedCassandra/data/
target/embeddedCassandra/hints/
target/embeddedCassandra/log4j-embedded-cassandra.properties
target/embeddedCassandra/saved_caches/
target/
*.iml
.DS_Store
pom.xml.versionsBackup
